WinForms/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15761/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15761/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15761/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_HelloResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HelloResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SimpleCalculator_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleCalculator" />
  </wsdl:message>
  <wsdl:message name="IService1_SimpleCalculator_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleCalculatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBook" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="HelloResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HelloResponse" message="tns:IService1_HelloResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HelloResponseResponse" message="tns:IService1_HelloResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimpleCalculator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SimpleCalculator" message="tns:IService1_SimpleCalculator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SimpleCalculatorResponse" message="tns:IService1_SimpleCalculator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookById" message="tns:IService1_GetBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookByIdResponse" message="tns:IService1_GetBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewBook" message="tns:IService1_AddNewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewBookResponse" message="tns:IService1_AddNewBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloResponse">
      <soap:operation soapAction="http://tempuri.org/IService1/HelloResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleCalculator">
      <soap:operation soapAction="http://tempuri.org/IService1/SimpleCalculator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:15761/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>