ClientSoftServ/Connected Services/SoftServeNS/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfKnownTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfKnownTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSwarschik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Swarschik" nillable="true" type="tns:Swarschik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwarschik" nillable="true" type="tns:ArrayOfSwarschik" />
  <xs:complexType name="Swarschik">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Worker">
        <xs:sequence>
          <xs:element minOccurs="0" name="ElektrodQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="HasSwarka" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Swarschik" nillable="true" type="tns:Swarschik" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:complexType name="Yborschik">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Worker">
        <xs:sequence>
          <xs:element minOccurs="0" name="DlinaMitlu" type="xs:int" />
          <xs:element minOccurs="0" name="IsMitlaOwner" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Yborschik" nillable="true" type="tns:Yborschik" />
  <xs:complexType name="Santechnik">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Worker">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsRazvodnujKeyOwner" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsVantuzOwner" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Santechnik" nillable="true" type="tns:Santechnik" />
  <xs:complexType name="ArrayOfWorker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Worker" nillable="true" type="tns:Worker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorker" nillable="true" type="tns:ArrayOfWorker" />
</xs:schema>