ClientSoftServ/Connected Services/SoftServeNS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15485/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15485/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15485/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfKnownTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetWorkersQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWorkersQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRichestWorkerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRichestWorkerName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRichestWorkerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRichestWorkerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHighestSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighestSalary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHighestSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighestSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWorkersQuantityByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersQuantityByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWorkersQuantityByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersQuantityByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWorkersQuantityByName_NameAbsenceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfKnownTypes" name="detail" element="q1:NameAbsenceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop3SwarschiksBySalary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop3SwarschiksBySalary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop3SwarschiksBySalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop3SwarschiksBySalaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop5WorkersBySalary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop5WorkersBySalary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop5WorkersBySalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop5WorkersBySalaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExceptionGenerator_InputMessage">
    <wsdl:part name="parameters" element="tns:ExceptionGenerator" />
  </wsdl:message>
  <wsdl:message name="IService1_ExceptionGenerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExceptionGeneratorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExceptionGenerator_MyWcfSuperPuperExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfKnownTypes" name="detail" element="q2:MyWcfSuperPuperException" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetWorkersQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWorkersQuantity" message="tns:IService1_GetWorkersQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWorkersQuantityResponse" message="tns:IService1_GetWorkersQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRichestWorkerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRichestWorkerName" message="tns:IService1_GetRichestWorkerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRichestWorkerNameResponse" message="tns:IService1_GetRichestWorkerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHighestSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHighestSalary" message="tns:IService1_GetHighestSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHighestSalaryResponse" message="tns:IService1_GetHighestSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkersQuantityByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWorkersQuantityByName" message="tns:IService1_GetWorkersQuantityByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWorkersQuantityByNameResponse" message="tns:IService1_GetWorkersQuantityByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetWorkersQuantityByNameNameAbsenceFaultFault" name="NameAbsenceFaultFault" message="tns:IService1_GetWorkersQuantityByName_NameAbsenceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop3SwarschiksBySalary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop3SwarschiksBySalary" message="tns:IService1_GetTop3SwarschiksBySalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop3SwarschiksBySalaryResponse" message="tns:IService1_GetTop3SwarschiksBySalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop5WorkersBySalary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop5WorkersBySalary" message="tns:IService1_GetTop5WorkersBySalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop5WorkersBySalaryResponse" message="tns:IService1_GetTop5WorkersBySalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExceptionGenerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExceptionGenerator" message="tns:IService1_ExceptionGenerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExceptionGeneratorResponse" message="tns:IService1_ExceptionGenerator_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ExceptionGeneratorMyWcfSuperPuperExceptionFault" name="MyWcfSuperPuperExceptionFault" message="tns:IService1_ExceptionGenerator_MyWcfSuperPuperExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkersQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWorkersQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRichestWorkerName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRichestWorkerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighestSalary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHighestSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkersQuantityByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWorkersQuantityByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NameAbsenceFaultFault">
        <soap:fault use="literal" name="NameAbsenceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTop3SwarschiksBySalary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop3SwarschiksBySalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop5WorkersBySalary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop5WorkersBySalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExceptionGenerator">
      <soap:operation soapAction="http://tempuri.org/IService1/ExceptionGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyWcfSuperPuperExceptionFault">
        <soap:fault use="literal" name="MyWcfSuperPuperExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:15485/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>